<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Bienvenid@ to <%= title %></p>
    <br>
    <hr/>
    <br><br>
    <fieldset>
    	<legend>Preguntas</legend>
    	<ol>
    		<li><a href="/quizes/question">Cuestionario de geografía.</li>
    	</ol>
    </fieldset>
  </body>
</html>
