<!DOCTYPE html>
<html>
  <head>
    <title>Quiz - Answer</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Esta es la pregunta</h1>
    <br>
    <hr/>
    <br><br>
    <fieldset>
    	<legend>Pregunta:</legend>
    	<ol>
    		<li>
    			Respuesta:<br>
    			<%= respuesta %>
    		</li>
    	</ol>
    	<div><a href="/quizes/question">Volver</a></div>
    </fieldset>
  </body>
</html>