<form method="get" action="/quizes/<%= quiz.id%>/answer">
	Esta es la pregunta:<br>
	<%= quiz.pregunta %>
    <input type="text" name="respuesta" value="Responda aquí">
    <input type="submit" value="Enviar">
</form>

<p>
	<a href="/quizes/<%= quiz.id %>/comments/new"><button>Nuevo comentario</button></a>
	<p>
		<strong>Comentarios:</strong>
		<% for (i in quiz.Comments) { %>
				<p>- <%= quiz.Comments[i].texto %>
		<% } %>
	</p>
</p>